.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 2rem;
}

.container_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container_inner img {
  width: 60%;
  margin: auto;
}

/* Desktop */
@media (min-width: 768px) {
  .container_inner {
    width: 30rem;
    margin: auto;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  .container_inner img {
    width: 40%;
  }
}